/* Designing overall page*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

/* Animations */
@keyframes fade-slide-down {
	0% {
	  opacity: 0;
	  transform: translateY(-4rem);
	}
	100% {
	  opacity: 1;
	  transform: none;
	}
  }

/*Setting Up CSS Box Model*/
* {
    box-sizing: border-box;
    margin: 0;
}

/*Setting up HTML*/
html {
    scroll-behavior: smooth;
}

/*Setting Up Body*/
body {
    margin: 0;
    line-height: 1.5;
    background-color: #b6b4b3;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

/*Designing Container Classes*/
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}

@import "./header";
/* Designing Header */
/*
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.5s ease;
    animation: fade-slide-down;
    animation-duration: 2s;
}

.header.fixed {
    background-color: #ffffff;
    position: fixed;
}
.header .fish-name {
    padding: 0 15px;
}
.header .fish-name a {
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}
.header.fixed .fish-name a {
    color: #000000;
}

.header .nav-toggle {
    width: 40px;
    height: 34px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    display: none;
}
.header.fixed .nav-toggle {
    border-color: #000000;
}
.header .nav-toggle span {
    height: 1px;
    display: block;
    width: 16px;
    background-color: #ffffff;
    position: relative;
    transition: all 0.5s ease;
}
.header .nav-toggle span:before,
.header .nav-toggle span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    transition: all 0.5s ease;
}
.header.fixed .nav-toggle span,
.header.fixed .nav-toggle span:before,
.header.fixed .nav-toggle span:after {
    background-color: #000000;
}
.header .nav-toggle span:before {
    transform: translateY(-6px);
}
.header .nav-toggle span:after {
    transform: translateY(6px);
}

.header .nav {
    padding: 0 15px;
}
.header .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header .nav ul li {
    display: inline-block;
    margin-left: 30px;
}
.header .nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 25px 0;
    display: block;
    transition: all 0.5s ease;
}
.header.fixed .nav ul li a {
    color: #000000;
}
.header.fixed .nav ul li a:hover,
.header .nav ul li a:hover {
    color: #ff9800;
}
*/
/* header ends */

h1 {
    margin: auto;
    margin-top: 3.5em;
    margin-bottom: 0.5em;
    text-align: center;
}
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(
            115deg,
            rgba(45, 45, 75, 0.8),
            rgba(150, 150, 181, 0.7)
        ),
        url("../img/aqua.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-size: 18px;
}
input {
    height: 3em;
}
input,
textarea {
    display: block;
    width: 100%;
    border-radius: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
textarea::placeholder {
    font-family: "Poppins", sans-serif;
}
form {
    border-radius: 1em;
    padding: 3rem;
    width: 40%;
    margin: auto;
    margin-bottom: 5em;
    background-color: rgba(30, 30, 84, 0.9);
    border: 1px dashed white; /* Add a dashed border to contact us form */
}
#submit {
    background-color: red;
    color: white;
    height: 3em;
}

.required:after {
    content: " *";
    color: red;
}
